<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Iron Tree | {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% include "layouts/head-css.html.twig" %} 
        {% block stylesheets %}
           
        {% endblock %}

      
    </head>
    <body data-sidebar="dark">
    <!-- Begin page -->
    <div id="layout-wrapper">
     {% include "layouts/topbar.html.twig"%}
     {% include "layouts/sidebar.html.twig"%}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                   {% block body %}{% endblock %}
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            {% include "layouts/footer.html.twig"%}
            
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
       <!-- Right Sidebar -->
       {% include "layouts/right-sidebar.html.twig"%}
    <!-- /Right-bar -->
    </body>
       {% include "layouts/vendor-scripts.html.twig"%} 
      {% block javascripts %}
           
        {% endblock %}
</html>
